<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSH Portal</title>
</head>
<p>
    <p>Hi {{ user.username }}!</p>
    <p><a href="/accounts/logout/">Logout</a></p>

    Here's the list of all the forms on this website:
    <ul>
        <a href="/hab/add"><li>HAB Form</li></a>
        <a href="msh/add/"><li>MSH Form</li></a>
    </ul>

    <p><a href="{% url 'hab_portal:hab_list' %}">View all submissions of HAB Form.</a></p>
    <p><a href="{% url 'forms:msh_list' %}">View all submissions of MSH Form.</a></p>
</body>
</html>