
  {% load static %}
  <html lang="en">
    {% load socialaccount %}
    <head>
    <link rel="stylesheet"
      href=" https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.0/tailwind.min.css ">
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <meta charset="UTF-8">
    <title>Hostel Affairs Board, IIT Guwahati</title>
</head>
<body>
  <section class="min-h-screen flex flex-col">
    <nav>
    </nav>
    <div class="flex flex-1 items-center justify-center">
      <div class="rounded-lg sm:border-2 px-4 lg:px-24 py-16 lg:max-w-xl sm:max-w-md w-full text-center">
          Campus Return Forms
          
          <div class="py-2">
            <a href="{% provider_login_url "google" %}"><button type="button" class="border-2 border-gray-100 focus:outline-none bg-purple-600 text-white font-bold tracking-wider block w-full p-2 rounded-lg focus:border-gray-700 hover:bg-purple-700">
                Sign In with google(official account)
            </button></a>
          </div>
           
          <div class="py-2">
            <a href="{% provider_login_url "microsoft" %}"> <button type="button" class="border-2 border-gray-100 focus:outline-none bg-purple-600 text-white font-bold tracking-wider block w-full p-2 rounded-lg focus:border-gray-700 hover:bg-purple-700">
                        Sign In with outlook
                    </button>
                  </a>
                </div>
            
        </div>
    </div>
</section>


  
</body>
</html>