{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<meta charset="UTF-8">
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'hab_portal/styles.css' %}">
		<style>
			.required-field::after {
			content: "*";
			color: red;
			}
		</style>
		<title>HAB Form</title>
	</head>
	<body style="background-color:#f0f8ff;">
		<div class="container-fluid" style="max-width: 70% ; margin-top:60px">
		<form action="../{{ url }}/" method="POST" enctype="multipart/form-data" >
			<div class="container">
				<div class="rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md" style="background: #1E5AD1; color:white;">
		      <div class="flex">

		        <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M5 0C2.51472 0 0.5 2.01472 0.5 4.5V13.9C0.5 14.8797 1.12611 15.7131 2 16.022V4.5C2 2.84315 3.34315 1.5 5 1.5H10.002C9.69309 0.626106 8.85967 0 7.88 0H5Z" fill="white"/>
		<path d="M3 4.75C3 3.50736 4.00736 2.5 5.25 2.5H11V0.75C11 0.335787 11.3358 0 11.75 0C12.1642 0 12.5 0.335787 12.5 0.75V19.25C12.5 19.6642 12.1642 20 11.75 20C11.3358 20 11 19.6642 11 19.25V18H5.25C4.00736 18 3 16.9926 3 15.75V4.75Z" fill="white"/>
		</svg>



		<p style="padding-left:20px; padding-right:80%"><b>Return Details</b></p>

		 <svg width="1" height="24" viewBox="0 0 1 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<line x1="0.5" y1="0.5" x2="0.499999" y2="23.5" stroke="#E9E9EB" stroke-linecap="round"/>
		</svg>

		<p style=" padding-left:10px;"><b>2</b></p>

		</div>
		</div>
				<br>
				<div class=" bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
					{% csrf_token %}
					<div class="relative mb-4 form-group">
						<div class="relative mb-4 form-group">
							<label for="Fee to be Paid" class="leading-7 required-field text-Black-600">Date of Arrival</label><br>
							{{ form.date_of_arrival }}
                            {% for error in form.date_of_arrival.errors %}
                                <br>
                                <div class = "alert alert-danger">{{ error }}</div>
                            {% endfor %}
						</div>
						<div class="relative mb-4 form-group">
							<label for="Fee to be Paid" class="leading-7  text-Black-600">Mode of Travel</label><br>
							{{ form.mode_of_travel }}
						</div>
						<div class="relative mb-4 form-group">
							<label for="Fee to be Paid" class="leading-7  text-Black-600">Flight / Train No.</label><br>
							{{ form.flight_train_number }}
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<br>
<!--			<div class="container">-->
<!--				<div class="rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md" style="background: #1E5AD1; color:white;">-->
<!--		      <div class="flex">-->

<!--		        <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--		<path d="M5 0C2.51472 0 0.5 2.01472 0.5 4.5V13.9C0.5 14.8797 1.12611 15.7131 2 16.022V4.5C2 2.84315 3.34315 1.5 5 1.5H10.002C9.69309 0.626106 8.85967 0 7.88 0H5Z" fill="white"/>-->
<!--		<path d="M3 4.75C3 3.50736 4.00736 2.5 5.25 2.5H11V0.75C11 0.335787 11.3358 0 11.75 0C12.1642 0 12.5 0.335787 12.5 0.75V19.25C12.5 19.6642 12.1642 20 11.75 20C11.3358 20 11 19.6642 11 19.25V18H5.25C4.00736 18 3 16.9926 3 15.75V4.75Z" fill="white"/>-->
<!--		</svg>-->



<!--		<p style="padding-left:20px; padding-right:80%"><b> Test Details</b></p>-->

<!--		 <svg width="1" height="24" viewBox="0 0 1 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--		<line x1="0.5" y1="0.5" x2="0.499999" y2="23.5" stroke="#E9E9EB" stroke-linecap="round"/>-->
<!--		</svg>-->

<!--		<p style=" padding-left:10px;"><b>3</b></p>-->

<!--		</div>-->
<!--		</div>-->
<!--		<form action="../{{ url }}/" method="POST" enctype="multipart/form-data" >-->
<!--&lt;!&ndash;            <div class=" bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">&ndash;&gt;-->
<!--&lt;!&ndash;            {% csrf_token %}&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="relative mb-4 form-group">&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="Name" class="leading-7 required-field text-Black-600">Nature of Test</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ form.nature_of_test }}&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="relative mb-4 form-group">&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="Roll Number" class="leading-7 required-field text-Black-600">Date of Test</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;            {{ form.date_of_testing }}&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <br>&ndash;&gt;-->
<!--&lt;!&ndash;            <br>&ndash;&gt;-->
<!--&lt;!&ndash;            <br>&ndash;&gt;-->
<!--            <div class="container">-->
<!--							<div class="rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md" style="background: #1E5AD1; color:white;">-->
<!--					      <div class="flex">-->

<!--					        <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--					<path d="M5 0C2.51472 0 0.5 2.01472 0.5 4.5V13.9C0.5 14.8797 1.12611 15.7131 2 16.022V4.5C2 2.84315 3.34315 1.5 5 1.5H10.002C9.69309 0.626106 8.85967 0 7.88 0H5Z" fill="white"/>-->
<!--					<path d="M3 4.75C3 3.50736 4.00736 2.5 5.25 2.5H11V0.75C11 0.335787 11.3358 0 11.75 0C12.1642 0 12.5 0.335787 12.5 0.75V19.25C12.5 19.6642 12.1642 20 11.75 20C11.3358 20 11 19.6642 11 19.25V18H5.25C4.00736 18 3 16.9926 3 15.75V4.75Z" fill="white"/>-->
<!--					</svg>-->



<!--					<p style="padding-left:20px; padding-right:70%"><b>Hostel Related Information</b></p>-->

<!--					 <svg width="1" height="24" viewBox="0 0 1 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--					<line x1="0.5" y1="0.5" x2="0.499999" y2="23.5" stroke="#E9E9EB" stroke-linecap="round"/>-->
<!--					</svg>-->

<!--					<p style=" padding-left:10px;"><b>3</b></p>-->

<!--					</div>-->
<!--					</div>-->
<!--            <br>-->
<!--            <form action="../{{ url }}/" method="POST" enctype="multipart/form-data" >-->
<!--            <div class=" bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">-->
<!--            {% csrf_token %}-->
<!--            &lt;!&ndash; <div class="relative mb-4 form-group">-->
<!--            <label for="Name" class="leading-7 required-field text-Black-600">Hostel</label><br>-->
<!--            {{ form.hostel }}-->
<!--            </div>-->
<!--            <div class="relative mb-4 form-group">-->
<!--            <label for="Roll Number" class="leading-7  text-Black-600">Room Number</label><br>-->
<!--            {{ form.room_no }}-->
<!--            </div> &ndash;&gt;-->
<!--            <div class="relative mb-4 form-group">-->
<!--            <label for="Hostel Name" class="leading-7 required-field text-Black-600">Check-in Date</label><br>-->
<!--            {{ form.check_in_date }}-->

<!--            </div>-->
<!--            </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <br>-->
<!--            <br>-->
<!--            <div class="container">-->
<!--							<div class="rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md" style="background: #1E5AD1; color:white;">-->
<!--					      <div class="flex">-->

<!--					        <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--					<path d="M5 0C2.51472 0 0.5 2.01472 0.5 4.5V13.9C0.5 14.8797 1.12611 15.7131 2 16.022V4.5C2 2.84315 3.34315 1.5 5 1.5H10.002C9.69309 0.626106 8.85967 0 7.88 0H5Z" fill="white"/>-->
<!--					<path d="M3 4.75C3 3.50736 4.00736 2.5 5.25 2.5H11V0.75C11 0.335787 11.3358 0 11.75 0C12.1642 0 12.5 0.335787 12.5 0.75V19.25C12.5 19.6642 12.1642 20 11.75 20C11.3358 20 11 19.6642 11 19.25V18H5.25C4.00736 18 3 16.9926 3 15.75V4.75Z" fill="white"/>-->
<!--					</svg>-->



<!--					<p style="padding-left:20px; padding-right:76%"><b>Status of Payment</b></p>-->

<!--					 <svg width="1" height="24" viewBox="0 0 1 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--					<line x1="0.5" y1="0.5" x2="0.499999" y2="23.5" stroke="#E9E9EB" stroke-linecap="round"/>-->
<!--					</svg>-->

<!--					<p style=" padding-left:10px;"><b>5</b></p>-->

<!--					</div>-->
<!--					</div>-->
<!--            <br>-->
<!--            <form action="../{{ url }}/" method="POST" enctype="multipart/form-data" >-->
<!--            <div class=" bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">-->
<!--            {% csrf_token %}-->
<!--            <div class="relative mb-4 form-group">-->
<!--            <label for="Name" class="leading-7 required-field text-Black-600">Advance Mess Fee Paid</label><br>-->
<!--            {{ form.mess_fee_paid }}-->
<!--            </div>-->
<!--            <div class="relative mb-4 form-group">-->
<!--            <label for="Roll Number" class="leading-7 required-field text-Black-600">Date of Payment</label><br>-->
<!--            {{ form.date_of_payment }}-->
<!--            </div>-->
<!--            </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <br>-->
<!--            <br>-->
            <div class="container ">
							<div class="rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md" style="background: #1E5AD1; color:white;">
					      <div class="flex">

					        <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M5 0C2.51472 0 0.5 2.01472 0.5 4.5V13.9C0.5 14.8797 1.12611 15.7131 2 16.022V4.5C2 2.84315 3.34315 1.5 5 1.5H10.002C9.69309 0.626106 8.85967 0 7.88 0H5Z" fill="white"/>
					<path d="M3 4.75C3 3.50736 4.00736 2.5 5.25 2.5H11V0.75C11 0.335787 11.3358 0 11.75 0C12.1642 0 12.5 0.335787 12.5 0.75V19.25C12.5 19.6642 12.1642 20 11.75 20C11.3358 20 11 19.6642 11 19.25V18H5.25C4.00736 18 3 16.9926 3 15.75V4.75Z" fill="white"/>
					</svg>



					<p style="padding-left:20px; padding-right:80%"><b>Enclosures</b></p>

					 <svg width="1" height="24" viewBox="0 0 1 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line x1="0.5" y1="0.5" x2="0.499999" y2="23.5" stroke="#E9E9EB" stroke-linecap="round"/>
					</svg>

					<p style=" padding-left:10px;"><b>3</b></p>

					</div>
					</div>
            <br>
            <div class=" bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md" style="margin-bottom: 50px;">
                {% csrf_token %}
                <label for="Upload Fee Receipt" class="leading-7 text-Black-600">Upload Fee Receipt</label>
                <svg width="872" height="4" viewBox="0 0 872 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.998611" y1="2.91944" x2="871.995" y2="0.5" stroke="#E9E9EB"/>
                </svg>
                {{ form.fee_receipt }}
                {{ form.fee_receipt.help_text }}
                <br><br><br>

                <label for="Upload Fee Receipt" class="leading-7 required-field text-Black-600">Upload Travel Ticket</label>
                <svg width="872" height="4" viewBox="0 0 872 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.998611" y1="2.91944" x2="871.995" y2="0.5" stroke="#E9E9EB"/>
                </svg>
                {{ form.travel_ticket }}
                {{ form.travel_ticket.help_text }}
                <br><br><br>

<!--                <label for="Upload Fee Receipt" class="leading-7 required-field text-Black-600">Upload Vaccination Certificate</label>-->
<!--                <svg width="872" height="4" viewBox="0 0 872 4" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <line x1="0.998611" y1="2.91944" x2="871.995" y2="0.5" stroke="#E9E9EB"/>-->
<!--                </svg>-->
<!--                {{ form.vaccination_cert }}-->
<!--                {{ form.vaccination_cert.help_text }}-->
<!--                <br><br><br>-->

<!--                <label for="Upload Fee Receipt" class="leading-7 required-field text-Black-600">Upload RTPCR Report</label>-->
<!--                <svg width="872" height="4" viewBox="0 0 872 4" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <line x1="0.998611" y1="2.91944" x2="871.995" y2="0.5" stroke="#E9E9EB"/>-->
<!--                </svg>-->
<!--                {{ form.rtpcr_report }}-->
<!--                {{ form.rtpcr_report.help_text }}-->
<!--                <br><br><br>-->

                {% if messages %}
                    {% for message in messages %}
                    <div class = "alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <ol>
                    <li><input type="checkbox" id="tick1"><label for="tick1" class="leading-7 required-field text-Black-600">&nbsp;&nbsp;I hereby declare that the above information is true to the best of my knowledge and belief.</label></li>
                    <li><input type="checkbox" id="tick2"><label for="tick2" class="leading-7 required-field text-Black-600">&nbsp;&nbsp;I am bound to follow the COVID-19 protocol inside the campus set by campus authority.</label></li>
                    <li><input type="checkbox" id="tick3"><label for="tick3" class="leading-7 required-field text-Black-600">&nbsp;&nbsp;I know about the hostel and mess related norms and agree to pay the required fee in advance.</label></li>
                    <li><input type="checkbox" id="tick4"><label for="tick4" class="leading-7 required-field text-Black-600">&nbsp;&nbsp;I know that mess fee subscription is compulsory as per HAB allotment.</label></li>
                </ol>

                <br>

                 <input id="submit-button" type="submit" class="btn btn-primary btn-lg text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text" style="max-width:30%;"{% if locked %}disabled{% endif %}>
            </div>
		</form>
	</div>
	</body>

    <script>
        function activateSubmit() {
            var b1 = document.getElementById("tick1").checked;
            var b2 = document.getElementById("tick2").checked;
            var b3 = document.getElementById("tick3").checked;
            var b4 = document.getElementById("tick4").checked;

            if (b1 + b2 + b3 + b4 === 4) {
                document.getElementById("submit-button").disabled = false;
                document.getElementById("submit-button").classList.remove('bg-gray-500');
                document.getElementById("submit-button").classList.add('bg-indigo-500');
                document.getElementById("submit-button").classList.add('hover:bg-indigo-600');

            }
            else {
                document.getElementById("submit-button").disabled = true;
                document.getElementById("submit-button").classList.remove('bg-indigo-500');
                document.getElementById("submit-button").classList.remove('hover:bg-indigo-600');
                document.getElementById("submit-button").classList.add('bg-gray-500');
            }
        }

        document.getElementById("tick1").onclick = activateSubmit;
        document.getElementById("tick2").onclick = activateSubmit;
        document.getElementById("tick3").onclick = activateSubmit;
        document.getElementById("tick4").onclick = activateSubmit;
        activateSubmit();
    </script>

</html>
