<table class="table-auto w-full text-left whitespace-no-wrap">
<tbody>
  <tr>
        <td width="20%" class="px-4 py-3">{{ item.name }}</td>
        <td width="10%" class="px-4 py-3 ">{{ item.roll_number }}</td>
        <td width="20%" class="px-4 py-3 ">{{ item.email }}</td>
        <td width="10%" class="px-4 py-3">{{ item.programme}}</td>
        <td width="15%" class="px-4 py-3">{{ item.returning_from_state }}</td>
        <td width="10%" class="px-4 py-3" id="invite_details_{{item.pk}}">{{ item.invite_sent }}</td>
        {% if item.invite_sent == "Not Invited" %}
            <td width="15%" class="px-4 py-3" id="invite_button_{{item.pk}}">
                <button onclick="markAsInvited({{item.pk}});">Mark as Invited</button>
            </td>
        {% else %}
            <td width="15%" class="px-4 py-3" id="invite_button_{{item.pk}}">
                <button onclick="markAsNotInvited({{item.pk}});">Mark as Not Invited</button>
            </td>
        {% endif %}
  </tr>
</tbody>
</table>
