<div class="md:flex justify-center items-center w-90/100 h-20 relative left-1/20 ">
    <div class="md:flex flex-row w-95/100 h-16 font-body">
        <div class="flex flex-col justify-between items-start w-1/4 min-h-full">
            <div class="gama font-medium delta text-tertiary-700 capitalize w-full h-4/5">{{ item.user.user.first_name|add:" "|add:item.user.user.last_name }}</div>
            <div class="gama font-normal delta text-tertiary-800 tracking-wider w-full h-1/5">{{ item.user }}</div>
        </div>
        <div class="md:flex flex-row justify-end min-h-full w-3/24"><div class="alpha w-4/5">{{ item.roll_number }}</div></div>
        <div class="alpha w-1/24">#</div>
        <div class="alpha w-1/12">#</div>
        <div class="beta w-1/6">
            <div class="w-2/5 h-4/5 gama">
                <div class="gama w-10/12 h-1/2 bg-tertiary-100 bg-opacity-30 text-tertiary-200 rounded-xl">
                    <svg class="w-2 h-2 m-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
                    <div class="gama text-xs leading-4 w-full h-full font-medium">Filled</div>
                </div>
            </div>
            <div class="gama justify-start font-medium delta text-tertiary-800 w-full h-1/5">{{ item.time_of_submission }}</div>
        </div>
        <div class="beta w-3/24" >
            <div class="w-10/12 h-4/5 gama">
                <div class="gama w-10/12 h-1/2 bg-hab-100 bg-opacity-30 text-hab-200 rounded-xl">
                    <svg class="w-2 h-2 m-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
                    <div class="gama text-xs leading-4 w-full h-full font-medium">Arrival Date</div>
                </div>
            </div>    
            <div class="gama justify-start font-medium delta text-tertiary-800 w-full h-1/5">{{ item.date_of_arrival }}</div>
        </div>
        <div class="beta w-3/24">
            <div class="w-4/5 h-4/5 gama">
                {% if item.status != 'Accepted' and item.status != 'Declined' %}
                    <div class="gama w-10/12 h-1/2 pending rounded-xl">
                        <svg class="w-2 h-2 m-2"  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
                        <div class="gama text-xs leading-4 w-full h-full font-medium" class="menu" >{{ item.status }}</div>
                    </div>
                {% elif item.hostel != 'Pending' and item.status != 'Declined' %}
                    <div class="gama w-10/12 h-1/2 accepted rounded-xl">
                        <svg class="w-2 h-2 m-2"  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
                        <div class="gama text-xs leading-4 w-full h-full font-medium" class="menu" >{{ item.status }}</div>
                    </div>
                {% elif item.hostel != 'Accepted' and item.status != 'Pending' %}
                    <div class="gama w-10/12 h-1/2 declined rounded-xl">
                        <svg class="w-2 h-2 m-2"  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
                        <div class="gama text-xs leading-4 w-full h-full font-medium" class="menu" >{{ item.status }}</div>
                    </div>
                {% endif %}                    
            </div>    
            <div class="gama justify-start font-medium delta text-tertiary-800 w-full h-1/5">Status</div>
        </div>
        <div class="w-1/12 min-h-full md:flex flex-row justify-center items-center text-xs leading-5 font-medium font-hab text-tertiary-900">
            <a href="{% url 'hab_portal:hab_detail' pk=item.id %}">LL</a>
            <a href="#" class="trigger">View Receipt</a>
            <div id="dialog" style="display:none; width: 1214px;" class="md:flex"  >
                <iframe src="https://web.stanford.edu/group/csp/cs21/htmlcheatsheet.pdf" width="80%" height="100%" title="Fee-Receipt" ></iframe>
                <table style="flex: auto; display: right;">
                        <td>
                            <table>
                                <tr>
                                    <div class="gama font-medium delta text-tertiary-700 capitalize w-full h-4/5">{{ item.user.user.first_name|add:" "|add:item.user.user.last_name }}</div>
                                    <div class="gama font-normal delta text-tertiary-800 tracking-wider w-full h-1/5">{{ item.user }}</div>
                                </tr>
                                <hr>
                                <tr>
                                    <td><div class="gama font-normal delta text-tertiary-800 tracking-wider w-full h-1/5">Hostel</div></td>
                                    <td><div class="gama font-normal delta text-tertiary-800 tracking-wider w-full h-1/5">Arriving On</div></td>
                                </tr>
                                <tr>
                                    <td><div class="gama font-medium delta text-tertiary-700 capitalize w-full h-4/5">{{ Hostel }}</div></td>
                                    <td><div class="gama font-medium delta text-tertiary-700 capitalize w-full h-4/5">{{ item.date_of_arrival }}</div></td>
                                </tr>
                                <hr>
                                <tr>
                                    <td><div class="gama font-normal delta text-tertiary-800 tracking-wider w-full h-1/5">Date of Arrival</div></td>
                                    <td><div class="gama font-normal delta text-tertiary-800 tracking-wider w-full h-1/5">Fee Amount</div></td>
                                </tr>
                                <tr>
                                    <td><div class="gama font-medium delta text-tertiary-700 capitalize w-full h-4/5">#</div></td>
                                    <td><div class="gama font-medium delta text-tertiary-700 capitalize w-full h-4/5">#</div></td>
                                </tr>
                                <hr>
                                <tr>
                                    <div class="grid grid-cols-2 gap-x-4 sm:gap-x-6 px-4 sm:px-6 py-4">
                                        <td><div class="text-base font-medium rounded-lg bg-red-400 text-white py-3 text-center cursor-pointer"><a href="{% url 'hab_portal:hostel-status-decline' hostel=item.hostel id=item.id %}">Decline</a></div></td>
                                        <td><div class="text-base font-medium rounded-lg bg-blue-400 text-white py-3 text-center cursor-pointer"><a href="{% url 'hab_portal:hostel-status-accept' hostel=item.hostel status=item.status id=item.id %}">Accept</a></div></td>
                                    </div>
                                </tr>
                                
                            </table>
                            
                            
                            
                        </td>
                </table>
            </div> 
        </div>
    </div>
    <div class="w-full h-px absolute bottom-0 border-solid bg-secondary"></div>
</div>

