<div id="replaceable-content">

    {% for item in HABforms %}
        {% if item.recieved_an_invite == "No" %}

        <script language="javascript" type="text/javascript">
            $(document).ready(function() {
                $('#trigger_'+{{ item.user.pk}}).click(function(){
                    $("#dialog_"+{{ item.user.pk}}).dialog({width: 1300,height:650,dialogClass: 'header'});
                });
            });
        </script>
            {% include 'hab_portal/partial/partial_admin.html' %}

        {% endif %}
    {% endfor %}

</div>
