
<table class="table-auto w-full text-left whitespace-no-wrap">
<tbody>
  <tr>
        <td width="20%" class="px-4 py-3">{{ item.name }}</td>
        <td width="20%" class="px-4 py-3 ">{{ item.roll_number }}</td>
        <td width="30%" class="px-4 py-3 ">{{ item.email }}</td>
        <td width="20%" class="px-4 py-3">{{ item.programme}}</td>
        <td width="20%" class="px-4 py-3">{{ item.returning_from_state }}</td>
        <td class="w-10 text-center">

        </td>
  </tr>
</tbody>
</table>
