<table class="table-auto w-full text-left whitespace-no-wrap">
<tbody>
  <tr>
        <td width="10%" class="px-4 py-3">{{ item.name }}</td>
        <td width="10%" class="px-4 py-3 ">{{ item.roll_number }}</td>
        <td width="10%" class="px-4 py-3 ">{{ item.email }}</td>
        <td width="5%" class="px-4 py-3">{{ item.programme}}</td>
        <td width="10%" class="px-4 py-3">{{ item.returning_from_state }}</td>
        <td width="15%" class="px-4 py-3">{{ item.time_of_submission }}</td>
        <td width="15%" class="px-4 py-3">{{ item.vaccination_status }}</td>
        <td width="10%" class="px-4 py-3" id="invite_details_{{item.pk}}">{{ item.invite_sent }}</td>
        {% if item.invite_sent == "Not Invited" %}
            <td width="15%" class="px-4 py-3" id="invite_button_{{item.pk}}">
                <button class="flex text-white bg-green-400 border-0 py-1 px-4" onclick="markAsInvited({{item.pk}});">Mark as Invited</button>
            </td>
        {% else %}
            <td width="15%" class="px-4 py-3" id="invite_button_{{item.pk}}">
                <button class="flex text-white bg-red-400 border-0 py-1 px-4" onclick="markAsNotInvited({{item.pk}});">Mark as Not Invited</button>
            </td>
        {% endif %}
  </tr>
</tbody>
</table>
