{% extends 'hab_portal/complete/base.html' %}

{% block content %}

<div class="md:flex flex-row justify-center items-center w-90/100 h-8 relative left-1/20">
    <div class="flex flex-row  w-full min-h-full font-body">
        <div class="w-1/24 text-center text-tertiary-800">
            <a href="{% url 'hab_portal:hostel-view' hostel=Hostel %}">All</a>
        </div>
        <div class="w-1/12 text-center text-tertiary-800">
            <a href="{% url 'hab_portal:hostel-approved' hostel=Hostel %}">Verified</a>
        </div>
        <div class="w-1/12 text-center relative">
            <a href="{% url 'hab_portal:hostel-rejected' hostel=Hostel %}">Unverified</a>
            <div class="w-full h-0.5 absolute bottom-0  border-solid bg-black"></div>
        </div>    
    </div>
    <div class="w-full h-px absolute bottom-0  border-solid bg-secondary"></div>
</div>

     {% include 'hab_portal/partial/partial_rejected.html' %}
    <br>

{% endblock %}