{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HAB Form Submissions</title>

    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>

</head>
<body>
    <h2>Here are all the submissions to the HAB Form for Disang:</h2>


    <div>
        <h3>Search for a roll number:</h3>
        <input id="user-input" placeholder="Search">
        <!-- <h3>Date filter:</h3>
        <input type="date" id="user-input-date"> -->
    </div>
    <br>

    {% include 'hab_portal/partial/partial_disang.html' %}

    <a href="../">Go back</a>

    <script src="{% static 'javascript/disang.js' %}"></script>
</body>
</html>
