{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAB Form Submissions</title>
    <link rel="stylesheet" href="{% static 'hab_portal/styles.css' %}">
</head>
<body>

    <h3>Hostels</h3>
    <ul>
        <li><a href="{% url 'hab_portal:hostel-view' hostel='lohit' %}">Lohit</a></li>   
        <li><a href="{% url 'hab_portal:hostel-view' hostel='brahmaputra' %}">Brahmaputra</a></li>    
        <li><a href="{% url 'hab_portal:hostel-view' hostel='siang' %}">Siang</a></li>    
        <li><a href="{% url 'hab_portal:hostel-view' hostel='manas' %}">Manas</a></li>    
        <li><a href="{% url 'hab_portal:hostel-view' hostel='disang' %}">Disang</a></li>    
        <li><a href="{% url 'hab_portal:hostel-view' hostel='kameng' %}">Kameng</a></li>    
        <li><a href="{% url 'hab_portal:hostel-view' hostel='umiam' %}">Umiam</a></li>    
        <li><a href="{% url 'hab_portal:hostel-view' hostel='barak' %}">Barak</a></li>    
        <li><a href="{% url 'hab_portal:hostel-view' hostel='kapili' %}">Kapili</a></li>    
        <li><a href="{% url 'hab_portal:hostel-view' hostel='dihing' %}">Dihing</a></li>    
        <li><a href="{% url 'hab_portal:hostel-view' hostel='subansiri' %}">Subansiri</a></li>   
        <li><a href="{% url 'hab_portal:hostel-view' hostel='dhansiri' %}">Dhansiri</a></li>    
        <li><a href="{% url 'hab_portal:hostel-view' hostel='msh' %}">Married Scholars Hostel</a></li>    
    </ul>
    <br>
    <a href="../">Go back</a>
</body>
</html>