<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAB Form Submissions</title>
</head>
<body>
    <h2>Detailed form of {{ object.user }}:</h2>
    <table border="1px" cellpadding="10">
        <thead>
            <td>User</td>
            <td>Roll No.</td>
            <td>No. of days calculated</td>
            <td>Fees for that number of days</td>
            <td>Date of Arrival</td>
            <td>Date of Submission</td>
            <td>Fee Receipt</td>
            <td>Status</td>
        </thead>
     
        <tr>
            <td>{{ object.user.user.first_name|add:" "|add:object.user.user.last_name }}</td>
            <td>{{ object.roll_number }}</td>
            <td>#</td>
            <td>#</td>
            <td>{{ object.date_of_arrival }}</td>
            <td>{{ object.time_of_submission }}</td>
            <td><a href = "/media/hab_portal/user_{{ object.user.pk }}.pdf" target = "_blank">Fee Receipt</a></td>
            <td>{{ object.status }}</td>
        </tr>   
    </table><br><br>

    <!-- <button type="submit">Approve</button>
    <button type="submit">Reject</button><br><br><br> -->
    {% if object.hostel == '1' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='lohit' %}">Go back</a>
    {% elif object.hostel == '2' %}  
    <a href="{% url 'hab_portal:hostel-status-accept' hostel='brahmaputra' status=object.status id=object.id %}">Accept Request</a><br>
    <a href="{% url 'hab_portal:hostel-status-decline' hostel='brahmaputra' id=object.id %}">Decline</a><br><br>
    <a href="{% url 'hab_portal:hostel-view' hostel='brahmaputra' %}">Go back</a>
    {% elif object.hostel == '3' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='siang' %}">Go back</a>
    {% elif object.hostel == '4' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='manas' %}">Go back</a>
    {% elif object.hostel == '5' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='disang' %}">Go back</a>
    {% elif Hobject.hostel == '6' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='kameng' %}">Go back</a>
    {% elif object.hostel == '7' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='umiam' %}">Go back</a>
    {% elif object.hostel == '8' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='barak' %}">Go back</a>
    {% elif object.hostel == '9' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='kapili' %}">Go back</a>
    {% elif object.hostel == '10' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='dihing' %}">Go back</a>
    {% elif object.hostel == '11' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='subansiri' %}">Go back</a>
    {% elif object.hostel == '12' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='dhansiri' %}">Go back</a>
    {% elif object.hostel == '13' %}  
    <a href="{% url 'hab_portal:hostel-view' hostel='msh' %}">Go back</a>
    {% endif %}

</body>
</html>