{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <meta charset="UTF-8">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <title>HAB Form</title>

</head>
<body>
    <table class="table-auto">

      <tr>
          <td><h1>email :</h1></td>
          <td><h1>{{ form.user.user.email }}</h1></td>
      </tr>

    {% for name, value in form.get_fields %}
      {% if name != 'fee_receipt' and name != 'proof_of_invitation' and name != 'recieved_an_invite' %}
        {% if value and forloop.counter > 5 and forloop.counter < 30 %}
            <tr>
                <td><h1>{{name}} :</h1></td>
                <td><h1>{{value}}</h1></td>
            </tr>           
        {% endif %}
      {% endif %}  
    {% endfor %}
    </table>

</body>
</html>
